footer {
  padding: 16px;
}

.footer__redirect {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  padding: 32px 16px;
}

.redirect__sections {
  display: grid;
  align-items: center;
  justify-items: center;
}

.redirect__social {
  display: flex;
}

.legal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-top: 10px;
  margin-top: 20px;
  color: #fff;
}

.legal__terms{
  text-decoration: none;
  color:#fff
}

@media screen and (min-width: 640px) {
  .redirect__sections {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
