.team {
  display: grid;
  margin-bottom: 40px;
}

.team__heading {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 39px;
  padding-bottom: 5px;
  text-align: center;
}
.team__heading::after {
  background-color: #59253e;
  content: "";
  display: block;
  position: relative;
  height: 6px;
  width: 50%;
  left: 25%;
}

.team__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}
.team__picture {
  border-radius: 20px;
}

.team__list-item {
  color: #e5e5e5;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  max-width: 261px;
}

@media screen and (min-width: 640px) {
  .team__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .team__heading::after {
    background-color: #59253e;
    content: "";
    display: block;
    height: 6px;
    width: 70px;
    position: relative;
    left: 0;
  }
  .team__heading {
    text-align: left;
  }

  .team__card-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .team__list-item {
    background-color: #f2f2f2;
  }

  .team__card-heading {
    color: #0d0d0d;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
  }

  .team__card-subheading {
    color: #332f3c;
    font-style: italic;
    font-weight: 700;
    text-align: left;
  }

  .team__card-description {
    color: #0d0d0d5c;
    font-weight: 400;
  }

  .team__button {
    align-self: flex-end;
  }

  .team__picture {
    border-radius: 0;
    margin: 0;
  }
}
