* {
  box-sizing: border-box;
}

body {
  background-color: #1f1c26;
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  color: #332f3c;
  grid-template-rows: 67px auto 724px;
  margin: 0;
}

main {
  display: grid;
  max-width: 360px;
  margin: 0 auto;
}
